@import "tailwindcss";

@theme {
  --color-text-grey: #888888;
  --color-text-light: #d4d4d4;
  --color-text-dark: #555555;
  --color-bg-dark: #0A0A0A;
  --color-bg-light: #0F0F0F;
  --color-border: #212122;
}

:root {
  --mono-consolas: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--mono-consolas);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  /* flex-direction: column; */
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--mono-consolas);
  font-weight: 400;
}